@import "../../../public/styles/vars.scss";
@import "../../../public/styles/common.module.scss";

.container {
  padding: 0.5vh;
  height: 10vw;
  display: flex;
  justify-content:space-between;

  input{
    height: 80%;
    width: 100%;
    border: none;
    font-size: 5vw;
    padding: 1vw;

    &:focus {
      outline: none;
    }
  }

  button{
    background-color: transparent;
    border: none;

    font-size: 7vw;
  }
  
  
}

.resultContainer{
  
  width: 100%;

  ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1vh 0;
    padding: 0;

    li{
      padding:0.5vh 1vh;
      width: 25%;

      button{
        border: none;
        background-color: transparent;
      }
    }
  }
  
}